.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services .box {
    position: relative;
    background-color: white;
    -webkit-box-shadow: var(--main-box-shadow);
    -moz-box-shadow: var(--main-box-shadow);
    -ms-box-shadow: var(--main-box-shadow);
    box-shadow: var(--main-box-shadow);
    counter-increment: services;
    transition: var(--main-duration);
}
.services .box:hover {
    transform: translateY(-10px);
}
.services .box::before,
.services .box::after {
    content: "";
    position: absolute;
    height: 3px;
    top: -3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-duration);
}
.services .box::before {
    left: 50%;
}
.services .box::after {
    right: 50%;
}
.services .box:hover::before,
.services .box:hover::after {
    width: 50%;
}

.services .box .icon {
    font-size: 4rem;
    display: block;
    margin: 40px auto 20px;
    text-align: center;
    color: #d5d5d5;
}
.services .box h3 {
    color: var(--main-color);
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.55rem;
}
.services .box .info {
    padding: 15px;
    text-align: right;
    background-color: #F9F9F9;
    position: relative;
    overflow: hidden;
}
.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top:0;
    background-color: var(--main-color);
    color: white;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    font-size: 1.9rem;
    font-weight: bold;
}
.services .box .info::after {
    content: "";
    background-color: #d5d5d5;
    left: 80px;
    top: 0;
    position: absolute;
    width: 50px;
    height: 100%;
    transform: skewX(-30deg);
}
.services .box .info a {
    color: var(--main-color);
}