.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url("../../assets/images/stats.jpg");
    background-size: cover;
    z-index: 1;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
    z-index: -1;
}
.stats h2 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0 auto 50px;
}
.stats .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.stats .box {
    text-align: center;
    background-color: white;
    padding: 30px 15px;
    position: relative;
    opacity: 0.8;
    transition: var(--main-duration);
}
.stats .box:hover {
    opacity: 1;
}
.stats .box::before,
.stats .box::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 0;
    background-color: var(--main-color);
    transition: height 0.6s ease-in-out;
}
.stats .box::before {
    top: 0;
    left: 0;
}
.stats .box::after {
    bottom: 0;
    right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}

.stats .box .icon {
    font-size: 2rem;
}
.stats .box .number {
    display: block;
    font-size: 3.1rem;
    font-weight: bold;
    margin: 10px auto;
}
.stats .box .text {
    display: block;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}