.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gallery .box {
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: var(--main-box-shadow);
    -moz-box-shadow: var(--main-box-shadow);
    -ms-box-shadow: var(--main-box-shadow);
    box-shadow: var(--main-box-shadow);
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255, 20%);
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-duration);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* Start animation */
@keyframes flashing {
    0%, 40%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}